<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/add_product.js" defer></script>

    <title>{{name}}</title>
  </head>

  <body>
    <br />
    <div class="row">
      <div class="col">
        <h1>Add Product</h1>
      </div>

    </div>

    <div id="additionInputs">
      <div class="row row-cols-3">
        <div class="col">
          <div class="mb-3">
            <label for="productName" class="form-label font">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              placeholder="Product Name"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="originalPrice" class="form-label font">Original Price</label>
            <input
              type="text"
              class="form-control"
              id="originalPrice"
              placeholder="Original Price"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="sellPrice" class="form-label font">Sell Price</label>
            <input
              type="text"
              class="form-control"
              id="sellPrice"
              placeholder="Sell Price"
            />

          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          onclick="inputsHandler()"
        >+</button>
      </div>
    </div>

  </body>

</html>