<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/app.js" defer></script>
    <script src="/js/index.js" defer></script>
    <title>Kalboby - Add Client</title>
  </head>
  <body>
    <br />
    <div class="row">

      <div class="col">
        <br />
        <br />
        <h3>
          Owner's Data
          <i class="fas fa-user"></i>
        </h3>
        <br />
      </div>

    </div>
    {{! Owner's Data }}
    <div class="row row-cols-2">
      {{! Owenr's Name }}
      <div class="col">
        <div class="mb-3">
          <label for="owner" class="form-label font">Owenr's Name</label>
          <input
            type="text"
            class="form-control"
            id="owner"
            placeholder="Owner's Name"
          />
        </div>
      </div>

      {{! Address }}
      <div class="col">
        <div class="mb-3">
          <label for="address" class="form-label font">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="Address"
          />
        </div>
      </div>

    </div>
    <div class="row row-cols-2">
      {{! regData }}
      <div class="col">

        <div class="mb-3">
          <label for="regDate" class="form-label font">Date (Today)</label>
          <input type="date" class="form-control" id="regDate" />
        </div>
      </div>

      <div class="col">
        <div class="">
          <label for="phone" class="form-label font">Phone</label>
          <input
            type="number"
            class="form-control"
            id="phone"
            placeholder="Phone"
          />
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
            <label
              class="form-check-label"
              for="flexSwitchCheckDefault"
            >Whatsapp</label>
          </div>
        </div>

      </div>

    </div>
    <hr class="my-4" />

    {{! Pet Animal Data Heading }}
    <div class="row">
      <div class="col">
        <br />
        <h3>
          Pet Animal Data
          <i class="fas fa-paw"></i>
          <i class="fas fa-dog"></i>
        </h3>
        <br />
      </div>
    </div>

    {{! Pet's Data }}
    <div class="row row-cols-3">
      {{! Pets Name }}
      <div class="col">

        <div class="mb-3">
          <label for="pets_name" class="form-label font">Pet Name</label>
          <input
            type="text"
            class="form-control"
            id="pets_name"
            placeholder="Pet Name"
          />
        </div>
      </div>
      {{! Pets Age }}
      <div class="col">
        <div class="mp-3">
          <label for="age" class="form-label font">Age</label>
          <input
            type="text"
            class="form-control"
            id="age"
            placeholder="Pet Age"
          />

        </div>
      </div>

      {{! Pets Weight }}
      <div class="col">
        <div class="mb-3">
          <label for="weight" class="form-label font">Weight</label>
          <input
            type="Number"
            class="form-control"
            id="weight"
            placeholder="Body Weight (KG)"
          />
        </div>
      </div>
    </div>

    <div class="row row-cols-3">
      {{! Pets Type }}
      <div class="col">
        <label for="species" style="margin-bottom: 9px;" class="font">
          Species
        </label>
        <select class="form-select" id="species">
          <option value="" selected>
            Select Species
          </option>

          <option value="">
            Feline
          </option>
          <option>
            Canine
          </option>

        </select>
      </div>
      {{! Breed }}
      <div class="col">
        <div class="mb-3">
          <label for="breed" class="form-label font">Breed</label>
          <input
            type="text"
            class="form-control"
            id="breed"
            placeholder="Pet Breed"
          />
        </div>
      </div>
      {{! Pets Color }}
      <div class="col">
        <div class="mb-3">
          <label for="color" class="form-label font">Color</label>
          <input
            type="text"
            class="form-control"
            id="color"
            placeholder="Pet Color"
          />
        </div>
      </div>
    </div>

    <div class="row row-cols-3">
      <div class="col" style="font-size: 16px; margin-top: 19px;">
        <label style="display: block; margin-right: 10px;">Gender</label>
        <div
          class="form-check"
          style="display: inline-block; margin-right: 10px;"
        >
          <input class="form-check-input" type="radio" name="sex" id="female" />
          <label class="form-check-label" for="female">
            Female
          </label>
        </div>

        <div class="form-check" style="display: inline-block;">
          <input class="form-check-input" type="radio" name="sex" id="male" />
          <label class="form-check-label" for="male">
            Male
          </label>
        </div>
      </div>

      <div class="col" style="font-size: 16px; margin-top: 19px;">
        <label
          style="display: block; margin-right: 10px;"
        >Natured/Spayed</label>
        <div
          onchange="checked()"
          class="form-check"
          style="display: inline-block; margin-right: 10px;"
        >
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="yes"
          />
          <label class="form-check-label" for="yes">
            Yes
          </label>
        </div>
        <div
          onchange="unChecked()"
          class="form-check"
          style="display: inline-block; margin-right: 10px;"
        >
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="no"
            checked
          />
          <label class="form-check-label" for="no">
            No
            <span style="font-size: 12px;">(Default)</span>
          </label>
        </div>
      </div>

      <div class="col" id="natured_date" style="margin-top: 30px;" hidden>
        <div>
          {{! <label for="date" class="form-label font">Date</label> }}
          <input type="date" class="form-control" id="date" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        
        <div class="form-floating" style="margin-top: 25px; margin-bottom: 25px;">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="medication"
            style="height: 100px;"
          ></textarea>
          <label for="medication">Medication</label>
        </div>
      </div>
    </div>

    <div class="row row-cols-2">
      <div class="col">
        <h5>Vaccination History</h5>
        <br />
        <div style="margin-left: 20px;">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="rabies"
            />
            <label class="form-check-label font" for="rabies">
              Rabies Vaccine
            </label>
          </div>
          <br />
          <div class="form-check" style="margin-top: 10px;">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="combined"
            />
            <label class="form-check-label font" for="combined">
              Combined Vaccine
            </label>
          </div>
          <br />
          <div class="form-check" style="margin-top: 10px;">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="deworming"
            />
            <label class="form-check-label font" for="deworming">
              Deworming
            </label>
          </div>

          <div class="form-check" style="margin-top: 30px;">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="parasite"
            />
            <label class="form-check-label font" for="parasite">
              External Parasite
            </label>
          </div>
        </div>

      </div>

      <div class="col">
        <h5>Date</h5>
        {{! <label for="date" class="form-label font">Date</label> }}
        <input
          type="date"
          class="form-control"
          id="rabiesDate"
          style="margin-top: 15px; min-height: 20px;"
        />
        <br />
        <input type="date" class="form-control" id="combinedDate" />
        <br />
        <input type="date" class="form-control" id="dewormingDate" />
        <br />
        <input type="date" class="form-control" id="parasiteDate" />
      </div>
    </div>
    <br />

    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="comments"
            style="height: 100px;"
          ></textarea>
          <label for="comments">Comments</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <button
          type="submit"
          class="btn btn-primary"
          style="margin: 25px auto; display: flex; justify-content: center; width: 200px;"
        >Submit</button>
      </div>
    </div>

  </body>

</html>