<html lang="en">
  <head>

    <title>Kalboby - Home</title>
    {{!-- <script src="/js/home.js" defer></script> --}}
    
    
    
  </head>
  <body>

      
    {{! Heading (Welcome to kalboby) }}
    <div class="row" style="margin-bottom: 25px; margin-top: 25px;">
      <div class="col">
        <h2>
          Welcome to Kalboby Clinic
          <i class="fas fa-paw"></i>
          <i class="fas fa-dog"></i>

        </h2>

      </div>
    </div>

    <div class="row row-cols-2" style="margin-bottom: 25px;">
      <div class="col-6 col-md-4 offset-md-6">
        {{! <label for="formGroupExampleInput" class="form-label">Example label</label> }}

        <input
          type="text"
          class="form-control"
          id="search"
          placeholder="Search"
        />

      </div>
      <div class="col-2 col-md-2">
        <button type="button" class="btn btn-primary">Search</button>

      </div>
    </div>
    {{! Table Data }}
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Owner's Name</th>
              <th scope="col">Pets Name</th>
              <th scope="col">Phone</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each patients}}
            <tr>
              <th scope="row">1</th>
              <td>{{this.owner_name}}</td>
              <td>{{this.pet_name}}</td>
              <td>{{this.phone}}</td>
              <td>

                <div class="dropdown">
                  <a
                    class="btn"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-v"></i>
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a
                        class="dropdown-item"
                        href="/user/details/{{this._id}}"
                      >Details</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a
                        type="button"
                        class="btn btn-primary dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                      >Delete</a>
                    </li>
                  </ul>
                </div>

              </td>
            </tr>
            {{/each}}
            
            
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete {user}</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Are you sure to delete {this user}
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >No</button>
                <button type="button" class="btn btn-danger">Yes, Delete it</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="row">

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  

  </body>
</html>